body {
  width: 600px;
  margin: 0 auto;
  color: #000;
}

h1, h2, h3, h4, h5 {
  font-family: 'Crimson Text','serif';
}

.header {
  margin: 40px 0;
  height: 120px;
  text-align: center;
}

.header .name {
  font-size: 24pt;
  margin-bottom: 15px;
  font-weight: bold;
}

.header-links a:not(:last-child) {
  margin-right: 15px;
}

.Blogs > .summary {
  margin-bottom: 40px;
}

.Blogs > .summary .title {
  font-size: 18pt;
  font-weight: normal;
  color: #4078c0;
  margin-bottom: 5px;
  display: block;
}

.Blogs > .summary .date {
  font-size: 12pt;
  color: #999;
}

.content p {
  line-height: 2.2em;
}